nn-codes/asm
nn-codes/asm/*
nn-codes/c-code
nn-codes/c-code/*
*.o
*.asm
*nn-codes/verification-codes/software_simulation
*nn-codes/verification-codes/data_generation

results

wave
wave.vcd
*.output

.vscode
.vscode/*